SUPABASE_PROJECT_ID="jjkxtgtbogtzhbuxutag"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_CtAHGWUsBgHQs_TqWga4Ew_63Yu_44r"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_-FKIqBYNGL5wKnQOVat9Cw_Oewns_nR"
SUPABASE_URL="https://jjkxtgtbogtzhbuxutag.supabase.co"
VITE_SUPABASE_PROJECT_ID="jjkxtgtbogtzhbuxutag"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_CtAHGWUsBgHQs_TqWga4Ew_63Yu_44r"
VITE_SUPABASE_URL="https://jjkxtgtbogtzhbuxutag.supabase.co"
